.section {
    padding: 5rem 0;
    background-color: white;
}

.container {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header {
    text-align: center;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.heading {
    font-size: 3rem;
    color: var(--color-sage-800);
    margin-bottom: 1rem;
    line-height: 1.2;
}

.divider {
    height: 0.25rem;
    width: 5rem;
    background-color: var(--color-gold-500);
    margin-left: auto;
    margin-right: auto;
    border-radius: 9999px;
}


@media (width < 992px) {
    .heading {
        font-size: 2.25rem;
    }

    .section {
        padding: 2rem;
    }
}